<!-- Start Map Section-->
<div id="map-section" data-scroll-index="8">

    <div id="map"></div>

</div>
<!-- End Map Section-->

<!-- Start Footer Section-->
<section id="footer" class="main-section center-align gradient-color">

    <div class="footer-main">

        <div class="main-section">

            <div class="container">

                <!--Title-->
                <h4 class="reflection-text p-b-2">Get In Touch</h4>

                <div class="contact-container">

                    <!-- Contact Form -->
                    <form id="contact-form" name="contact-form" method="POST" data-name="Contact Form">

                        <div class="row">

                            <!-- Name Field -->
                            <div class="input-field col s12">

                                <i class="fa fa-user-o prefix" aria-hidden="true"></i>
                                <input id="contact-name" type="text" class="validate" name="first_name" required>
                                <label for="contact-name">Name*</label>

                            </div>

                            <!-- Email Field -->
                            <div class="input-field col s12 m-t-1">

                                <i class="fa fa-paper-plane-o prefix" aria-hidden="true"></i>
                                <input id="contact-email" type="email" class="validate" name="email" required>
                                <label data-error="Invalid Email"  for="contact-email">Email*</label>

                            </div>

                            <!-- Message Field -->
                            <div class="input-field col s12 m-t-1">

                                <i class="fa fa-envelope-o prefix" aria-hidden="true"></i>
                                <textarea id="contact-message" class="materialize-textarea validate" minlength="20" name="message" required></textarea>
                                <label for="contact-message" data-error="Minimum Length is 20 Characters" >Message*</label>

                            </div>

                            <!-- Form Alert Message -->
                            <div class="col s12 alert-message" id="contact-alert-message"></div>

                            <!-- Submit Button -->
                            <div class="col s12">

                                <button id="contact-submit" class="gradient-color waves-effect waves-light" type="submit">Send Message</button>

                            </div>

                            <!-- ! Anti-spam field ! Invisible for users, it will trick most bots to fill it and prevent the email from being sent to you -->
                            <div class="input-field col s12 hidden">

                                <input type="text" id="contact-check-spam" placeholder="Leave field empty" name="check-spam">

                            </div>

                        </div>

                    </form>

                    <div class="address">

                        <!-- Your Address -->
                        <p class="p-b-1">

                            <i class="address-icon fa fa-map-marker"></i>
                            <span>15 Bath Rd, Heathrow, Longford, Hounslow TW6 2AB, UK</span>

                        </p>

                        <!-- Your Phone Number -->
                        <p class="p-b-1">

                            <i class="address-icon fa fa-phone"></i>
                            <a href="tel:+441711278528"> +44 171 127 8528</a>

                        </p>

                        <!-- Your Email -->
                        <p class="p-b-1">

                            <i class="address-icon fa fa-paper-plane" aria-hidden="true"></i>
                            <a href="mailto:perla.app@example.com">perla.app@example.com</a>

                        </p>

                        <!-- Your Social Network Links-->
                        <div class="social-icons p-b-1">

                            <!-- Facebook -->
                            <a href="#">
                                <i class="fa fa-facebook waves-effect waves-light  blue"></i>
                            </a>

                            <!-- Twitter -->
                            <a href="#">
                                <i class="fa fa-twitter waves-effect waves-light  light-blue lighten-2"></i>
                            </a>

                            <!-- Instagram -->
                            <a href="#">
                                <i class="fa fa-instagram waves-effect waves-light  amber darken-3"></i>
                            </a>

                            <!-- Youtube -->
                            <a href="#">
                                <i class="fa fa-youtube waves-effect waves-light  red"></i>
                            </a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- Footer Area -->
        <div class="footer-content p-t-3 left-align">

            <div class="container">

                <div class="row">

                    <div class="about col s12 m6 l3">

                        <h5 class="p-b-2">About Us</h5>

                        <!-- Your Logo -->
                        <img class="responsive-img logo" src="images/logo.svg" alt="logo image">
                        <br>
                        <!-- Your Title -->
                        <p class="title-link">
                            <span>A</span><span>p</span><span>p</span><span>e</span><span>r</span><span>l</span><span>e</span>
                        </p>
                        <!-- Your Info -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, exercitationem!</p>

                    </div>

                    <!-- News -->
                    <div class="news col s12 m6 l3">

                        <h5 class="p-b-2">News</h5>

                        <div class="row">

                            <div class="col s6">

                                <!-- Image -->
                                <a href="#">
                                    <img class="responsive-img waves-effect" src="images/news/news4.jpg" alt="news image">
                                </a>

                            </div>

                            <div class="col s6">

                                <!-- Title -->
                                <a href="#">
                                    <p>Lorem ipsum dolor sit.</p>
                                </a>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col s6">

                                <!-- Image -->
                                <a href="#">
                                    <img class="responsive-img waves-effect" src="images/news/news2.jpg" alt="news image">
                                </a>

                            </div>

                            <div class="col s6">

                                <!-- Title -->
                                <a href="#">
                                    <p>Lorem ipsum dolor sit.</p>
                                </a>

                            </div>

                        </div>

                    </div>

                    <!-- Tags -->
                    <div class="tags col s12 m6 l3">

                        <h5 class="p-b-2">Tags</h5>

                        <a href="#" class="chip waves-effect">App</a>
                        <a href="#" class="chip waves-effect">Apperle</a>
                        <a href="#" class="chip waves-effect">Google</a>
                        <a href="#" class="chip waves-effect">Android</a>
                        <a href="#" class="chip waves-effect">Apple</a>
                        <a href="#" class="chip waves-effect">Watch</a>
                        <a href="#" class="chip waves-effect">Download</a>
                        <a href="#" class="chip waves-effect">News</a>
                        <a href="#" class="chip waves-effect">Articles</a>
                        <a href="#" class="chip waves-effect">Google</a>
                        <a href="#" class="chip waves-effect">Android</a>
                        <a href="#" class="chip waves-effect">Apple</a>
                        <a href="#" class="chip waves-effect">Articles</a>
                        <a href="#" class="chip waves-effect">Android</a>
                        <a href="#" class="chip waves-effect">Watch</a>

                    </div>

                    <!-- Instagram Feed -->
                    <div class="insta col s12 m6 l3">

                        <!-- Edit in Main.js -->
                        <h5 class="p-b-2">Instagram Feed</h5>

                       <ul class="instagram">
                             <li><img class="responsive-img waves-effect" src="images/news/news1.jpg" alt="news image"></li>
                             <li><img class="responsive-img waves-effect" src="images/news/news2.jpg" alt="news image"></li>
                             <li><img class="responsive-img waves-effect" src="images/news/news3.jpg" alt="news image"></li>
                         </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
<!-- End Footer Section-->