<head>
    <!-- Title -->
    <title>Port-Folio</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700%7CPT+Sans%7CMerriweather">

    {{!-- CSS global--}}
    <link rel="stylesheet" href="/assets/css/global/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/global/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/global/style.css">

    {{!-- CSS plugins--}}
    <link rel="stylesheet" href="/assets/css/plugins/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/style.css">
    <link rel="stylesheet" href="/assets/css/plugins/hamburgers.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/dzsparallaxer.css">
    <link rel="stylesheet" href="/assets/css/plugins/scroller.css">
    <link rel="stylesheet" href="/assets/css/plugins/plugin.css">
    <link rel="stylesheet" href="/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="/assets/css/plugins/cubeportfolio.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/jquery.fancybox.css">

    {{!-- CSS template--}}
    <link rel="stylesheet" href="/assets/css/template/styles.op-consulting.css">

    {{!-- CSS revolution--}}
    <link rel="stylesheet" href="/assets/css/revolution/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/assets/css/revolution/settings.css">
    <link rel="stylesheet" href="/assets/css/revolution/layers.css">
    <link rel="stylesheet" href="/assets/css/revolution/navigation.css">
    <link rel="stylesheet" href="/assets/css/revolution/typewriter.css">

    {{!-- CSS custom--}}
    <link rel="stylesheet" href="/assets/css/custom/custom.css">

</head>

    