<head>
    <!--Meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Change Title and Meta tags-->
    <title>Apperle | HTML Template | Home</title>
    <meta name="description" content="Apperle | responsive app landing page, This is a premium product available exclusively here : https://themeforest.net/user/perletheme">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Perle Template">

    <!-- Change Twitter card tags-->
    <meta name="twitter:card" content="app">
    <meta name="twitter:site" content="@">
    <meta name="twitter:app:name:iphone" content="">
    <meta name="twitter:app:id:iphone" content="">
    <meta name="twitter:app:name:ipad" content="">
    <meta name="twitter:app:id:ipad" content="">
    <meta name="twitter:app:name:googleplay" content="">
    <meta name="twitter:app:id:googleplay" content="">

    <!-- Favicon -->
    <link rel="icon" href="images/icon.png">
    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="css/plugins.css">
    <!-- Our Min CSS -->
    <link rel='stylesheet' type="text/css" href='css/styles.css'/>  

</head>