 <div class="modal">
    <div class="modal--body">
        
                <p>Etes-vous sûr de vouloir vous deconnecter?</p>
        
                <a class="waves-effect waves-light" href="/logout"><button id="button">Logout</button></a>
         
                <a class="waves-effect waves-light" href="/"><button id="button">Retour</button></a>
           
    </div>
    </div>