<!DOCTYPE html>

<html lang="fr">

{{> head }}

<body class="home page-template page-template-home-page page-template-home-page-php page page-id-5 cookies-set cookies-accepted" style="">

{{> navbar }}

{{{ body }}}

{{>modalLog}}

{{> footer }}

{{> script }}

</body>


