<section id="not-found">
    
    <div class="overlay gradient-color"></div>
    
    <div class="container">
        
        <div class="image">
            <img class="responsive-img" src="images/background/404.png" alt="">
        </div>
        
        <div class="main">

            <img class="responsive-img" src="images/background/4042.png" alt="">

            <h5 class="not-found">Page Not Found</h5>

            <p>We sincerely apologize, the page you are looking for can't be found</p>

            <a class="slogan hoverable z-depth-2 waves-effect waves-light" href="index.html"><i class="fa fa-chevron-left"></i>Go Home</a>

        </div>
        
    </div>
    
</section>