<!-- Start About Section-->
<section id="about-us" class="main-section center-align" data-scroll-index="7">

    <div class="container">

        <!--Title-->
        <h4 class="reflection-text p-b-2">About Mat-Drk</h4>

        <!-- Description -->
        <p class="p-t-1 desc">Je suis développeur web freelance et j'aime ça !</p>

        <div class="row">

            <div class="col s12 l4">

                <div class="icon s6 p-tb-2">
                    <i class="gradient-color fa fa-snowflake-o fa-3x waves-circle waves-effect waves-light"></i>
                </div>

                <h5 class="p-tb-1">Un développeur web passionné !</h5>

                <p>Ma passion pour le développement commence en 2003 et m'a demandé un changement radical de cursus afin de pouvoir pleinement l'exploiter. Dès lors, je mis tout en oeuvre pour percer dans cette voix, tout en prenant du plaisir sur les divers projets développés.</p>

            </div>

            <div class="col s12 l4">

                <div class="icon p-tb-2">
                    <i class="gradient-color fa fa-pencil fa-3x waves-circle waves-effect waves-light"></i>
                </div>

                <h5 class="p-tb-1">Expérience en développement</h5>

                <p>Mon expérience acquise au fil des projets me permet de mieux comprendre les attentes d'un client et de répondre précisement au besoin demandé en fonction du domaine d'activité.</p>

            </div>

            <div class="col s12 l4">

                <div class="icon p-tb-2">
                    <i class="gradient-color fa fa-superpowers fa-3x waves-circle waves-effect waves-light"></i>
                </div>

                <h5 class="p-tb-1">Un tarif adapté à votre projet</h5>

                <p>Travaillant régulièrement avec des PME ou particuliers, je vous propose des solutions à votre portée & adaptée à votre budget.</p>

            </div>

        </div>

    </div>

</section>
<!-- End About Section-->