<!-- Start Footer Section-->


    <div id="footer" class="footer-main center-align gradient-color">

        <div class="main-section">

            <div class="container">

                <!--Title-->
                <h4 class="reflection-text p-b-2">Contact</h4>

                <div class="contact-container">

                    <!-- Contact Form -->
                    <form id="contact-form" name="contact-form" method="POST" data-name="Contact Form">

                        <div class="row">

                            <!-- Name Field -->
                            <div class="input-field col s12">

                                <i class="fa fa-user-o prefix" aria-hidden="true"></i>
                                <input id="contact-name" type="text" class="validate" name="first_name" required>
                                <label for="contact-name">Name*</label>

                            </div>

                            <!-- Email Field -->
                            <div class="input-field col s12 m-t-1">

                                <i class="fa fa-paper-plane-o prefix" aria-hidden="true"></i>
                                <input id="contact-email" type="email" class="validate" name="email" required>
                                <label data-error="Invalid Email"  for="contact-email">Email*</label>

                            </div>

                            <!-- Message Field -->
                            <div class="input-field col s12 m-t-1">

                                <i class="fa fa-envelope-o prefix" aria-hidden="true"></i>
                                <textarea id="contact-message" class="materialize-textarea validate" minlength="20" name="message" required></textarea>
                                <label for="contact-message" data-error="Minimum Length is 20 Characters" >Message*</label>

                            </div>

                            <!-- Form Alert Message -->
                            <div class="col s12 alert-message" id="contact-alert-message"></div>

                            <!-- Submit Button -->
                            <div class="col s12">

                                <button id="contact-submit" class="gradient-color waves-effect waves-light" type="submit">Envoyer</button>

                            </div>

                            <!-- ! Anti-spam field ! Invisible for users, it will trick most bots to fill it and prevent the email from being sent to you -->
                            <div class="input-field col s12 hidden">

                                <input type="text" id="contact-check-spam" placeholder="Leave field empty" name="check-spam">

                            </div>

                        </div>

                    </form>

                    <div class="address">

                        <!-- Your Address -->
                        <p class="p-b-1">

                            <i class="address-icon fa fa-map-marker"></i>
                            <span>10 Rue Pierre Bacqua, 85000 La Roche-sur-Yon</span>

                        </p>

                        <!-- Your Phone Number -->
                        <p class="p-b-1">

                            <i class="address-icon fa fa-phone"></i>
                            <a href="tel:+441711278528"> 02 44 40 41 45</a>

                        </p>

                        <!-- Your Email -->
                        <p class="p-b-1">

                            <i class="address-icon fa fa-paper-plane" aria-hidden="true"></i>
                            <a href="mailto:perla.app@example.com">arinfo@arinfo.com</a>

                        </p>

                        <!-- Your Social Network Links-->
                        <div class="social-icons p-b-1">

                            <!-- Facebook Link -->
                <a href="https://www.facebook.com/pumba.pumba.7773">
                    <i class="fa fa-facebook waves-effect waves-circle waves-light blue"></i>
                </a>

                <!-- Twitter Link -->
                <a href="https://twitter.com/MinusCortexInk">
                    <i class="fa fa-twitter waves-effect waves-circle waves-light light-blue lighten-2"></i>
                </a>

                <!-- Instagram Link -->
                <a href="https://www.instagram.com/codeuniversity/">
                    <i class="fa fa-instagram waves-effect waves-circle waves-light amber darken-3"></i>
                </a>

                <!-- Youtube Link -->
                <a href="https://www.youtube.com/watch?v=75bvhi_6Dro">
                    <i class="fa fa-youtube waves-effect waves-circle waves-light red"></i>
                </a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
