

<!-- Start About Section-->
<section id="about-us" class="main-section center-align" data-scroll-index="7">

    <div class="container">

        <!--Title-->
        <h4 class="reflection-text p-b-2">Curiculum vitae</h4>

        <!-- Description -->
        <p class="p-t-1 desc">Petit desciptif</p>
        <br/>

<style>
.pdfobject-container { height: 90rem; border: 0.2rem solid rgba(0,0,0,.1); }
</style>

       <div id="example1"></div>
                                           
{{!-- <object data="/assets/pdf/test2.pdf" type="application/pdf" width="100%" internalinstanceid="9">
<p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it: 
<a href="/assets/pdf/test2.pdf">Download PDF</a>.</p>
</object> --}}

    </div>

</section>
<!-- End About Section-->


