
<!-- Start Header Section-->
<header id="main-header" data-scroll-index="0" style="background: url('images/background/header-bg.jpg') center fixed;">
    <canvas class="hide-on-med-and-down" id="demo-canvas"></canvas>
    <div class="overlay gradient-color"></div>

    <div class="header-section container">

        <div class="header-text">

            <div>
                <!-- Your App name -->
                <div class="title">
                    <h1 class="title-link">
                        <span>M</span><span>a</span><span>t</span><span>-</span><span>D</span><span>r</span><span>k</span>
                    </h1>
                </div>

                <!-- App Main Description -->
                <p class="description">Developpeur Web Senior</p>

                <!-- App Slogan -->
                <a href="/about" class="slogan z-depth-1 hoverable waves-effect waves-light">En Savoir plus</a>
            </div>

        </div>

        <div class="owl-carousel owl-header">

            <!-- Mobiles Image-->
            {{#unless user}}
            <img class="responsive-img" src="images/iphone-mock/blue/1-4.gif" alt="">
            {{/unless}}
            {{#if user}}
            <img class="responsive-img" src="images/iphone-mock/blue/1-2.gif" alt="">
            {{/if}}
        </div>
    </div>

</header>
<!-- End Header Section-->