

<form class="ui form" action="/login/register" method="POST" enctype="multipart/form-data">

    <label>Name</label>
    <input type="text" name="name" placeholder="Identifiant" value={{data.name}}>

    <label>E-mail</label>
    <input type="email" name="email" placeholder="example@protonmail.com" value={{data.email}}>

    <label>Mot De Passe</label>
    <input type="password" name="password" placeholder="Mot de passe" value={{data.password}}>

    <button class="ui button" type="submit">Submit</button>

</form>

</br></br>