<!-- Start Showcase Section-->
<section id="showcase" class="main-section">

    <!-- Overlay Color -->
    <div class="gradient-color overlay"></div>

    <div class="container">

        <!--Title-->
        <h4 class="reflection-text p-b-2">Services</h4>

        <!-- Description -->
        <p class="p-t-1 desc">Des prestations adaptées à vos besoins</p>

        <div class="row p-tb-3">

            <!-- Single Show Case -->
            <div class="col s12 l6" data-aos="fade-right" data-aos-delay="100">

                <!-- Small Title -->
                <h5 class="p-b-1">GESTION DE PROJETS WEB</h5>

                <p>Site vitrine, corporate, évènementiel, e-commerce, intranet, application mobile.</p>

                <div class="info">

                    <div>

                        <div>
                            <i class="fa fa-rocket gradient-color" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div>

                        <h6>GESTION DE PROJETS WEB</h6>

                        <p>Site vitrine, corporate, évènementiel, e-commerce, intranet, application mobile.</p>

                    </div>

                </div>

                <div class="info">

                    <div>

                        <div>
                            <i class="fa fa-lightbulb-o gradient-color" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div>

                        <h6>INTÉGRATION WEB</h6>

                        <p>Des intégrations (X)HTML / CSS respectueuses des standards du Web.</p>

                    </div>

                </div>

                <div class="info">

                    <div>

                        <div>
                            <i class="fa fa-gears gradient-color" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div>

                        <h6>DÉVELOPPEMENTS SPÉCIFIQUES</h6>

                        <p>Des outils adaptés à votre coeur de métier.</p>

                    </div>

                </div>

            </div>

            <div class="col s12 l6 center-align" data-aos="fade-left" data-aos-delay="200">

                <!--Images-->
                <img src="images/iphone-mock/blue/10.jpg" alt="">

                {{!-- <img class="absolute-image" src="images/iphone-mock/blue/10.jpg" alt=""> --}}

            </div>

        </div>

        <div class="row p-tb-3 opposite-container">

            <!-- Single Show Case -->
            <div class="col s12 l6" data-aos="fade-left" data-aos-delay="200">

                <!-- Small Title -->
                <h5 class="p-b-1">CONCEPTION GRAPHIQUE & WEBDESIGN </h5>

                <p>Logos, templates Web, plaquettes publicitaires, cartes de visite, newsletters...</p>

                <div class="info">

                    <div>

                        <div>
                            <i class="fa fa-gears gradient-color" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div>

                        <h6>RÉFÉRENCEMENT NATUREL</h6>

                        <p>Affichage sémantique des informations, des pages propres pour un référencement optimal.</p>

                    </div>

                </div>

                <div class="info">

                    <div>

                        <div>
                            <i class="fa fa-comments gradient-color" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div>

                        <h6>CONCEPTION GRAPHIQUE & WEBDESIGN</h6>

                        <p>Logos, templates Web, plaquettes publicitaires, cartes de visite, newsletters...</p>

                    </div>

                </div>

                <div class="info">

                    <div>

                        <div>
                            <i class="fa fa-comments gradient-color" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div>

                        <h6>DYNAMISME DES PAGES</h6>

                        <p>Des animations de contenu non intrusives pour embellir votre projet.</p>

                    </div>

                </div>

            </div>

            <div class="col s12 l6 opposite center-align" data-aos="fade-right" data-aos-delay="100">

                <!--Images-->
                <img src="images/iphone-mock/blue/15.png" alt="">

                {{!-- <img class="absolute-image" src="images/iphone-mock/blue/15.png" alt=""> --}}

            </div>

        </div>

        <div class="row p-tb-3">

            <!-- Single Show Case -->
            <div class="col s12 l6" data-aos="fade-right" data-aos-delay="200">

                <!-- Small Title -->
                <h5 class="p-b-1">APPLICATIONS SPÉCIFIQUES ET INTERFACE D'ADMINISTRATION </h5>

                <p>Codage à la main respectueux des standards du Web</p>

                <div class="info">

                    <div>

                        <div>
                            <i class="fa fa-eye gradient-color" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div>

                        <h6>RESPONSIVE DESIGN</h6>

                        <p>Compatible tous supports, tablette & application mobile.</p>

                    </div>

                </div>

                <div class="info">

                    <div>

                        <div>
                            <i class="fa fa-heartbeat gradient-color" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div>

                        <h6>INTERFACE D'ADMINISTRATION</h6>

                        <p>Outils spécifiques au bon fonctionnement de votre entreprise.</p>

                    </div>

                </div>

                <div class="info">

                    <div>

                        <div>
                            <i class="fa fa-heartbeat gradient-color" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div>

                        <h6>VALIDATION W3C, WAI & RÉFÉRENCEMENT NATUREL SEO</h6>

                        <p>Accessibilité & ergonomie des pages web</p>

                    </div>

                </div>

            </div>

            <div class="col s12 l6 center-align" data-aos="fade-left" data-aos-delay="100">

                <!--Images-->
                <img src="images/iphone-mock/blue/19.png" alt="">

                {{!-- <img class="absolute-image" src="images/iphone-mock/blue/19.png" alt=""> --}}

            </div>

        </div>

    </div>

</section>
<!-- End Showcase Section-->