<!-- Start Showcase Section-->
<section id="showcase" class="main-section">

    <!-- Overlay Color -->
    <div class="gradient-color overlay"></div>

    <div class="container">

        <!--Title-->
        <h4 class="reflection-text p-b-2">Services</h4>

        <!-- Description -->
        <p class="p-t-1 desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit in odit tempora voluptates? Consequuntur deleniti deserunt impedit, inventore iste numquam optio porro possimus sunt voluptates!</p>

        <div class="row p-tb-3">

            <!-- Single Show Case -->
            <div class="col s12 l6" data-aos="fade-right" data-aos-delay="100">

                <!-- Small Title -->
                <h5 class="p-b-1">Eye catching details.</h5>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cumque debitis deleniti exercitationem ipsa laborum neque repellendus unde ut voluptates?.</p>

                <div class="info">

                    <div>

                        <div>
                            <i class="fa fa-rocket gradient-color" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div>

                        <h6>Super Fast</h6>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nisi!</p>

                    </div>

                </div>

                <div class="info">

                    <div>

                        <div>
                            <i class="fa fa-lightbulb-o gradient-color" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div>

                        <h6>Unlimited Features</h6>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nisi!</p>

                    </div>

                </div>

            </div>

            <div class="col s12 l6 center-align" data-aos="fade-left" data-aos-delay="200">

                <!--Images-->
                <img src="images/iphone-mock/blue/3-1.png" alt="">

                <img class="absolute-image" src="images/iphone-mock/blue/3-2.png" alt="">

            </div>

        </div>

    </div>

</section>
<!-- End Showcase Section-->