<!-- Start About Section-->
<section id="about-us" class="main-section center-align" data-scroll-index="7">

    <div class="container">

        <!--Title-->
        <h4 class="reflection-text p-b-2">About Apperle</h4>

        <!-- Description -->
        <p class="p-t-1 desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cupiditate deleniti eaque earum iste itaque quia rerum! Ea excepturi facere incidunt ipsam iure libero nemo, non pariatur rerum sequi voluptatibus.</p>

        <div class="row">

            <div class="col s12 l4">

                <div class="icon s6 p-tb-2">
                    <i class="gradient-color fa fa-snowflake-o fa-3x waves-circle waves-effect waves-light"></i>
                </div>

                <h5 class="p-tb-1">Unique Layout</h5>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dicta earum error incidunt laborum quibusdam?</p>

            </div>

            <div class="col s12 l4">

                <div class="icon p-tb-2">
                    <i class="gradient-color fa fa-pencil fa-3x waves-circle waves-effect waves-light"></i>
                </div>

                <h5 class="p-tb-1">Well Documented</h5>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dicta earum error incidunt laborum quibusdam?</p>

            </div>

            <div class="col s12 l4">

                <div class="icon p-tb-2">
                    <i class="gradient-color fa fa-superpowers fa-3x waves-circle waves-effect waves-light"></i>
                </div>

                <h5 class="p-tb-1">Super Fast</h5>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dicta earum error incidunt laborum quibusdam?</p>

            </div>

        </div>

    </div>

</section>
<!-- End About Section-->

<!-- Start Features Section-->
<section id="features" data-scroll-index="1" class="main-section center-align">

    <div class="gradient-color overlay"></div>

    <div class="container">

        <!--Title-->
        <h4 class="reflection-text reflection-text-white p-b-2">Features</h4>

        <div class="row p-t-2">

            <div class="col s12 m12 l4 p-tb-1 feature-left">

                <div class="single-feature p-tb-2">

                    <a class="hoverable feature-link same-height active" data-owl-item="0">

                        <!--Title -->
                        <div>
                            <h5>Super Fast</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nisi!</p>
                        </div>

                        <!-- Icon -->
                        <div>
                            <i class="fa fa-rocket waves-effect waves-light" aria-hidden="true"></i>
                        </div>

                    </a>

                </div>

                <div class="single-feature p-tb-2">

                    <a class="hoverable feature-link same-height" data-owl-item="1">

                        <!-- Title -->
                        <div>
                            <h5>Unlimited Features</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nisi!</p>
                        </div>

                        <!-- Icon -->
                        <div>

                            <i class="fa fa-lightbulb-o waves-effect waves-light" aria-hidden="true"></i>

                        </div>

                    </a>

                </div>

                <div class="single-feature p-tb-2">

                    <a class="hoverable feature-link same-height" data-owl-item="2">

                        <!-- Title -->
                        <div>
                            <h5>User Friendly</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nisi!</p>
                        </div>

                        <!-- Icon-->
                        <div>
                            <i class="fa fa-heartbeat waves-effect waves-light" aria-hidden="true"></i>
                        </div>

                    </a>

                </div>

            </div>

            <div class="col push-m3 push-s3 s6 m6 l4 p-tb-1 images-slider">

                <!--Features Images-->
                <div class="owl-carousel owl-features">

                    <div>
                        <img class="responsive-img" src="images/iphone-mock/blue/1-4.png" alt="image of the iPhone app">
                    </div>

                    <div>
                        <img class="responsive-img" src="images/iphone-mock/blue/1-1.png" alt="image of the iPhone app">
                    </div>

                    <div>
                        <img class="responsive-img" src="images/iphone-mock/blue/1-2.png" alt="image of the iPhone app">
                    </div>

                    <div>
                        <img class="responsive-img" src="images/iphone-mock/blue/1-3.png" alt="image of the iPhone app">
                    </div>

                    <div>
                        <img class="responsive-img" src="images/iphone-mock/blue/1-4.png" alt="image of the iPhone app">
                    </div>

                    <div>
                        <img class="responsive-img" src="images/iphone-mock/blue/1-3.png" alt="image of the iPhone app">
                    </div>

                </div>

            </div>
            <div class="col s12 m12 l4 p-tb-1 feature-right">

                <div class="single-feature p-tb-2">

                    <a class="hoverable feature-link same-height" data-owl-item="3">

                        <!-- Icon -->
                        <div>
                            <i class="fa fa-eye waves-effect waves-light" aria-hidden="true"></i>
                        </div>

                        <div>

                            <!-- Title -->
                            <h5>Retina Ready</h5>
                            <p>Lorem ipsum dolor sit  amet, consectetur adipisicing elit. Ipsum, nisi!</p>

                        </div>

                    </a>

                </div>

                <div class="single-feature p-tb-2">

                    <a class="hoverable feature-link same-height" data-owl-item="4">

                        <!-- Icon -->
                        <div>
                            <i class="fa fa-code waves-effect waves-light" aria-hidden="true"></i>
                        </div>

                        <div>

                            <!-- Title -->
                            <h5>Well Documented</h5>
                            <p>Lorem ipsum dolor sit</p>

                        </div>

                    </a>

                </div>

                <div class="single-feature p-tb-2">

                    <a class="hoverable feature-link same-height" data-owl-item="5">

                        <!-- Icon -->
                        <div>
                            <i class="fa fa-superpowers waves-effect waves-light" aria-hidden="true"></i>
                        </div>

                        <div>

                            <!-- Title -->
                            <h5>Super Powerful</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nisi!</p>

                        </div>

                    </a>

                </div>

            </div>

        </div>

    </div>

</section>
<!-- End Features Section-->

<!-- Start Showcase Section-->
<section id="showcase" class="main-section">

    <!-- Overlay Color -->
    <div class="gradient-color overlay"></div>

    <div class="container">

        <!--Title-->
        <h4 class="reflection-text p-b-2">Showcase</h4>

        <!-- Description -->
        <p class="p-t-1 desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit in odit tempora voluptates? Consequuntur deleniti deserunt impedit, inventore iste numquam optio porro possimus sunt voluptates!</p>

        <div class="row p-tb-3">

            <!-- Single Show Case -->
            <div class="col s12 l6" data-aos="fade-right" data-aos-delay="100">

                <!-- Small Title -->
                <h5 class="p-b-1">Eye catching details.</h5>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cumque debitis deleniti exercitationem ipsa laborum neque repellendus unde ut voluptates?.</p>

                <div class="info">

                    <div>

                        <div>
                            <i class="fa fa-rocket gradient-color" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div>

                        <h6>Super Fast</h6>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nisi!</p>

                    </div>

                </div>

                <div class="info">

                    <div>

                        <div>
                            <i class="fa fa-lightbulb-o gradient-color" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div>

                        <h6>Unlimited Features</h6>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nisi!</p>

                    </div>

                </div>

            </div>

            <div class="col s12 l6 center-align" data-aos="fade-left" data-aos-delay="200">

                <!--Images-->
                <img src="images/iphone-mock/blue/3-1.png" alt="">

                <img class="absolute-image" src="images/iphone-mock/blue/3-2.png" alt="">

            </div>

        </div>

        <div class="row p-tb-3 opposite-container">

            <!-- Single Show Case -->
            <div class="col s12 l6" data-aos="fade-left" data-aos-delay="200">

                <!-- Small Title -->
                <h5 class="p-b-1">Unique custom design.</h5>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cumque debitis deleniti exercitationem ipsa laborum neque repellendus unde ut voluptates?.</p>

                <div class="info">

                    <div>

                        <div>
                            <i class="fa fa-gears gradient-color" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div>

                        <h6>Well Documented</h6>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nisi!</p>

                    </div>

                </div>

                <div class="info">

                    <div>

                        <div>
                            <i class="fa fa-comments gradient-color" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div>

                        <h6>Full Chat</h6>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nisi!</p>

                    </div>

                </div>

            </div>

            <div class="col s12 l6 opposite center-align" data-aos="fade-right" data-aos-delay="100">

                <!--Images-->
                <img src="images/iphone-mock/blue/2-1.png" alt="">

                <img class="absolute-image" src="images/iphone-mock/blue/2-2.png" alt="">

            </div>

        </div>

        <div class="row p-tb-3">

            <!-- Single Show Case -->
            <div class="col s12 l6" data-aos="fade-right" data-aos-delay="200">

                <!-- Small Title -->
                <h5 class="p-b-1">Awesome built-in features.</h5>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cumque debitis deleniti exercitationem ipsa laborum neque repellendus unde ut voluptates?.</p>

                <div class="info">

                    <div>

                        <div>
                            <i class="fa fa-eye gradient-color" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div>

                        <h6>Retina Ready</h6>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nisi!</p>

                    </div>

                </div>

                <div class="info">

                    <div>

                        <div>
                            <i class="fa fa-heartbeat gradient-color" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div>

                        <h6>User Friendly</h6>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nisi!</p>

                    </div>

                </div>

            </div>

            <div class="col s12 l6 center-align" data-aos="fade-left" data-aos-delay="100">

                <!--Images-->
                <img src="images/iphone-mock/blue/3-2.png" alt="">

                <img class="absolute-image" src="images/iphone-mock/blue/3-1.png" alt="">

            </div>

        </div>

    </div>

</section>
<!-- End Showcase Section-->

<!-- Start Subscribe Section-->
<section id="subscribe" class="main-section center-align">

    <div class="container row" data-aos="fade-up" data-aos-delay="100">

        <div class="subscribe-container">
            <div class="col s12 l4">

                <h4 class="title p-b-2">Subscribe</h4>

            </div>

            <!-- Subscription Form -->
            <form id="subscribe-form" name="subscribe-form" class="subscribe-input input-field col s12 l8">

                <!-- Email Field -->
                <input name="subscribe-email" id="subscribe-email" type="email" class="validate" >

                <label data-error="Invalid Email"  for="subscribe-email">Email</label>

                <!-- Submit Button -->
                <button id="subscribe-submit" class="gradient-color waves-effect waves-light" type="submit">

                    <i class="fa fa-paper-plane first"></i>

                    <i class="fa fa-paper-plane second"></i>

                </button>

                <!-- ! Anti-spam field ! Invisible for users, it will trick most bots to fill it and prevent the email from being sent to you -->
                <div class="input-field col s12 hidden">

                    <input type="text" id="subscribe-check-spam" placeholder="Leave field empty" name="check-spam">

                </div>

            </form>

        </div>

        <!-- Alert Message -->
        <div class="col s12 alert-message p-t-2" id="subscribe-alert-message"></div>

    </div>

</section>
<!-- End Subscribe Section-->

<!-- Start Screenshot Section-->
<section id="screenshot" data-scroll-index="2" class="main-section center-align">

    <div class="container">

        <!--Title-->
        <h4 class="reflection-text p-b-2">Screenshots</h4>

        <!-- Description -->
        <p class="p-t-1 desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cupiditate deleniti eaque earum iste itaque quia rerum! Ea excepturi facere incidunt ipsam iure libero nemo, non pariatur rerum sequi voluptatibus.</p>

        <div class="carousel">

            <div class="carousel-item">

                <!-- Link to the image to open in full screen when clicked with lity plugin -->
                <a href="images/iphone-mock/blue/1-4.png" data-lity>

                    <!-- Screenshot Image -->
                    <img class="responsive-img" src="images/iphone-mock/blue/1-4.png" alt="mobile mockup image">

                </a>

            </div>

            <div class="carousel-item">

                <!-- Link to the image to open in full screen when clicked with lity plugin -->
                <a href="images/iphone-mock/blue/1-3.png" data-lity>

                    <!-- Screenshot Image -->
                    <img class="responsive-img" src="images/iphone-mock/blue/1-3.png" alt="mobile mockup image">

                </a>

            </div>

            <div class="carousel-item">

                <!-- Link to the image to open in full screen when clicked with lity plugin -->
                <a href="images/iphone-mock/blue/1-2.png" data-lity>

                    <!-- Screenshot Image -->
                    <img class="responsive-img" src="images/iphone-mock/blue/1-2.png" alt="mobile mockup image">

                </a>

            </div>

            <div class="carousel-item">

                <!-- Link to the image to open in full screen when clicked with lity plugin -->
                <a href="images/iphone-mock/blue/1-3.png" data-lity>

                    <!-- Screenshot Image -->
                    <img class="responsive-img" src="images/iphone-mock/blue/1-3.png" alt="mobile mockup image">

                </a>

            </div>

            <div class="carousel-item">

                <!-- Link to the image to open in full screen when clicked with lity plugin -->
                <a href="images/iphone-mock/blue/1-1.png" data-lity>

                    <!-- Screenshot Image -->
                    <img class="responsive-img" src="images/iphone-mock/blue/1-1.png" alt="mobile mockup image">

                </a>

            </div>

        </div>

        <!-- Navigation arrows to be hidden on small and medium screens -->
        <div class="navigation" id="screenshot-navigation">

            <div class="nav-prev" id="screenshot-prev">
                <i class="fa fa-angle-left"></i>
            </div>

            <div class="nav-next" id="screenshot-next">
                <i class="fa fa-angle-right"></i>
            </div>

        </div>

    </div>

</section>
<!-- End Screenshot Section-->

<!-- Start Testimonials Section-->
<section id="testimonials" class="main-section center-align">

    <!-- Overlay Color -->
    <div class="gradient-color overlay"></div>

    <div class="container">

        <!--Title-->
        <h4 class="reflection-text reflection-text-white p-b-2">Testimonials</h4>

        <div class="owl-carousel owl-testimonials">

            <div>

                <!-- Client Image -->
                <div>
                    <img class="responsive-img circle" src="images/team/testimonials4.jpg" alt="Image of a John, one member of the team created the app">
                </div>

                <!-- Client Testimonial -->
                <p class="p-b-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores commodi exercitationem facilis incidunt laudantium nam nulla numquam optio quasi, quis reiciendis suscipit, voluptatum! Error, molestiae, natus? At, officia, unde.</p>

                <!-- Client Name -->
                <h5>John Doe</h5>

                <!-- Testimonial Rating, Add a star or half a star -->
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>

            </div>

            <div>

                <!-- Client Image -->
                <div>
                    <img class="responsive-img circle" src="images/team/testimonials1.jpg" alt="Image of a John, one member of the team created the app">
                </div>

                <!-- Client Testimonial -->
                <p class="p-b-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores commodi exercitationem facilis incidunt laudantium nam nulla numquam optio quasi, quis reiciendis suscipit, voluptatum! Error, molestiae, natus? At, officia, unde.</p>

                <!-- Client Name -->
                <h5>John Doe</h5>

                <!-- Testimonial Rating, Add a star or half a star -->
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half" aria-hidden="true"></i>

            </div>

            <div>

                <!-- Client Image -->
                <div>
                    <img class="responsive-img circle" src="images/team/testimonials3.jpg" alt="Image of a John, one member of the team created the app">
                </div>

                <!-- Client Testimonial -->
                <p class="p-b-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores commodi exercitationem facilis incidunt laudantium nam nulla numquam optio quasi, quis reiciendis suscipit, voluptatum! Error, molestiae, natus? At, officia, unde.</p>

                <!-- Client Name -->
                <h5>John Doe</h5>

                <!-- Testimonial Rating, Add a star or half a star -->
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>

            </div>

        </div>

    </div>

</section>
<!-- End Testimonials Section-->

<!-- Start Team Section-->
<section id="team" class="main-section center-align">

    <div class="container">

        <!--Title-->
        <h4 class="reflection-text p-b-2">Behind The Story</h4>

        <!-- Description -->
        <p class="p-t-1 desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci amet corporis, cupiditate dolores ipsa ipsam maiores molestias nesciunt, nihil odio quae, quo ratione soluta.</p>

        <!-- Owl Team Slider -->
        <div class="p-t-2 grid center-align owl-carousel owl-teams">

            <!-- Single Team Container -->
            <div class="team-member m-tb-2 z-depth-2 hoverable">
                <figure>

                    <!-- Team Image -->
                    <img class="responsive-img" src="images/team/team1.jpg" alt="news image">

                    <figcaption class="gradient-color">

                        <!-- Team Social Network-->
                        <p class="icons">

                            <!--Facebook Link and Icon-->
                            <a href="#">
                                <i class="fa fa-facebook waves-effect waves-light"></i>
                            </a>

                            <!--Twitter Link and Icon-->
                            <a href="#">
                                <i class="fa fa-twitter waves-effect waves-light"></i>
                            </a>

                            <!--Linkedin Link and Icon-->
                            <a href="#">
                                <i class="fa fa-linkedin waves-effect waves-light"></i>
                            </a>

                            <!--Pinterest Link and Icon-->
                            <a href="#">
                                <i class="fa fa-pinterest waves-effect waves-light"></i>
                            </a>

                        </p>

                    </figcaption>

                </figure>

                <div class="name p-b-1">

                    <!-- Team Member Name and link to his page -->
                    <a href="#">
                        <h5 class="team-name gradient-color waves-effect waves-light">Sandra More</h5>
                    </a>

                    <!-- Team Member Job -->
                    <h6>Web Developer</h6>

                </div>
            </div>

            <!-- Single Team Container -->
            <div class="team-member m-tb-2 z-depth-2 hoverable">
                <figure>

                    <!-- Team Image -->
                    <img src="images/team/team3.jpg" alt="img25">

                    <figcaption class="gradient-color">

                        <!-- Team Social Network -->
                        <p class="icons">

                            <!--Facebook Link and Icon-->
                            <a href="#">
                                <i class="fa fa-facebook waves-effect waves-light"></i>
                            </a>

                            <!--Twitter Link and Icon-->
                            <a href="#">
                                <i class="fa fa-twitter waves-effect waves-light"></i>
                            </a>

                            <!--Linkedin Link and Icon-->
                            <a href="#">
                                <i class="fa fa-linkedin waves-effect waves-light"></i>
                            </a>

                            <!--Pinterest Link and Icon-->
                            <a href="#">
                                <i class="fa fa-pinterest waves-effect waves-light"></i>
                            </a>

                        </p>

                    </figcaption>

                </figure>

                <div class="name p-b-1">

                    <!-- Team Member Name and link to his page -->
                    <a href="#">
                        <h5 class="team-name gradient-color waves-effect waves-light">John Snow</h5>
                    </a>

                    <!-- Team Member Job -->
                    <h6>Creation Studio</h6>

                </div>

            </div>

            <!-- Single Team Container -->
            <div class="team-member  m-tb-2 z-depth-2 hoverable">
                <figure>

                    <!-- Team Image -->
                    <img src="images/team/team2.jpg" alt="img25">

                    <figcaption class="gradient-color">

                        <!-- Team Social Network -->
                        <p class="icons">

                            <!--Facebook Link and Icon-->
                            <a href="#">
                                <i class="fa fa-facebook waves-effect waves-light"></i>
                            </a>

                            <!--Twitter Link and Icon-->
                            <a href="#">
                                <i class="fa fa-twitter waves-effect waves-light"></i>
                            </a>

                            <!--Linkedin Link and Icon-->
                            <a href="#">
                                <i class="fa fa-linkedin waves-effect waves-light"></i>
                            </a>

                            <!--Pinterest Link and Icon-->
                            <a href="#">
                                <i class="fa fa-pinterest waves-effect waves-light"></i>
                            </a>

                        </p>

                    </figcaption>

                </figure>

                <div class="name p-b-1">

                    <!-- Team Member Name and link to his page -->
                    <a href="#">
                        <h5 class="team-name gradient-color waves-effect waves-light">David Bobby</h5>
                    </a>

                    <!-- Team Member Job -->
                    <h6>UI/UX Designer</h6>

                </div>

            </div>

            <!-- Single Team Container -->
            <div class="team-member m-tb-2 z-depth-2 hoverable">
                <figure>

                    <!-- Team Image -->
                    <img src="images/team/team2-2.jpg" alt="img25">

                    <figcaption class="gradient-color">

                        <!-- Team Social Network -->
                        <p class="icons">

                            <!--Facebook Link and Icon-->
                            <a href="#">
                                <i class="fa fa-facebook waves-effect waves-light"></i>
                            </a>

                            <!--Twitter Link and Icon-->
                            <a href="#">
                                <i class="fa fa-twitter waves-effect waves-light"></i>
                            </a>

                            <!--Linkedin Link and Icon-->
                            <a href="#">
                                <i class="fa fa-linkedin waves-effect waves-light"></i>
                            </a>

                            <!--Pinterest Link and Icon-->
                            <a href="#">
                                <i class="fa fa-pinterest waves-effect waves-light"></i>
                            </a>

                        </p>

                    </figcaption>

                </figure>

                <div class="name p-b-1">

                    <!-- Team Member Name and link to his page -->
                    <a href="#">
                        <h5 class="team-name gradient-color waves-effect waves-light">Aria Stark</h5>
                    </a>

                    <!-- Team Member Job -->
                    <h6>Office Manager</h6>

                </div>

            </div>


        </div>

    </div>

</section>
<!-- End Team Section-->

<!-- Start Download Section-->
<section id="download" data-scroll-index="3" class="main-section" style="  background:url('images/background/header-bg-1.jpg') center fixed;">

    <!-- Overlay Color -->
    <div class="gradient-color overlay"></div>

    <div class="container">

        <!--Title-->
        <h4 class="reflection-text reflection-text-white p-b-2">Get It Now</h4>

        <!-- Description -->
        <p class="p-t-1 desc">The New Apperle App Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, veniam! Lorem ipsum dolor sit amet, consectetur.</p>

        <div class="row p-t-2">

            <div class="col s12 l9">

                <!-- Link to download on the Apple store -->
                <a href="#" class="m-t-1 grey darken-4 waves-effect waves-light">

                    <span class="big-icon">
                        <i class="fa fa-apple"></i>
                    </span>

                    <span class="text">
                        <small>available on</small><br> Apple Store
                    </span>

                </a>

                <!-- Link to download on the Google store -->
                <a href="#" class="m-t-1 grey darken-4 waves-effect waves-light">

                    <span class="big-icon">
                        <i class="fa fa-android"></i>
                    </span>

                    <span class="text">
                        <small>available on</small><br> Google Store
                    </span>

                </a>

                <!-- Link to download on the Windows store -->
                <a href="#" class="m-t-1 grey darken-4 waves-effect waves-light">

                    <span class="big-icon">
                        <i class="fa fa-windows"></i>
                    </span>

                    <span class="text">
                        <small>available on</small><br> Windows Store
                    </span>

                </a>

                <a class="waves-effect waves-light" href="images/iphone-mock/qrcode.jpg" data-lity>Scan QR Code</a>

            </div>

            <!-- Iphone Image on right -->
            <div class="col s12 l3 hide-on-med-and-down"  data-aos="fade-left" data-aos-delay="100">

                <img class="responsive-img" src="images/iphone-mock/blue/1-1.png" alt="">

            </div>

        </div>

    </div>

</section>
<!-- End Download Section-->

<!-- Start News Section-->
<section id="news" data-scroll-index="4" class="main-section center-align">

    <div class="container">

        <!--Title-->
        <h4 class="reflection-text p-b-2">Latest News</h4>

        <!-- Description -->
        <p class="p-t-1 desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci amet corporis, cupiditate dolores ipsa ipsam maiores molestias nesciunt, nihil odio quae, quo ratione soluta.</p>

        <div class="p-t-2 grid center-align owl-carousel owl-news">

            <div class="single-news">

                <!-- Link to the blog news post -->
                <a href="#">

                    <figure>

                        <!-- Post Image -->
                        <img class="responsive-img" src="images/news/news4.jpg" alt="news image">

                        <figcaption>

                            <span class="overlay gradient-color"></span>

                            <span class="stats">

                                <span class="search">
                                    <i class="fa fa-search"></i>
                                </span>

                                <span class="icons">
                                    <!--Post Views Count-->
                                    <i class="fa fa-eye" aria-hidden="true"></i>123
                                    <!--Post Comments Count-->
                                    <i class="fa fa-comments" aria-hidden="true"></i>12
                                </span>

                            </span>

                        </figcaption>

                    </figure>

                </a>


                <div class="info p-b-1">

                    <p>

                        <!-- Post Writer Name -->
                        <span>
                            <i class="fa fa-user gradient-color" aria-hidden="true"></i>
                            John Doe
                        </span>

                        <!-- Post Date -->
                        <span>
                            <i class="fa fa-calendar gradient-color" aria-hidden="true"></i>
                            24 Oct. 1988
                        </span>

                    </p>

                    <!-- Post Title -->
                    <a href="#">
                        <h5>Lorem ipsum dolor sit.</h5>
                    </a>

                    <!-- Post Excerpt -->
                    <p class="p-b-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi exercitationem harum laudantium maiores quibusdam...</p>

                    <!-- Post Link -->
                    <a href="#" class="shadow-button waves-effect waves-light">
                        Read more
                        <i class="fa fa-arrow-right"></i>
                    </a>

                </div>

            </div>

            <div class="single-news">

                <!-- Link to the blog news post -->
                <a href="#">

                    <figure>

                        <!-- Post Image -->
                        <img class="responsive-img" src="images/news/news2.jpg" alt="news image">

                        <figcaption>

                            <span class="overlay gradient-color"></span>

                            <span class="stats">

                                <span class="search">
                                    <i class="fa fa-search"></i>
                                </span>

                                <span class="icons">
                                    <!--Post Views Count-->
                                    <i class="fa fa-eye" aria-hidden="true"></i>123
                                    <!--Post Comments Count-->
                                    <i class="fa fa-comments" aria-hidden="true"></i>12
                                </span>

                            </span>

                        </figcaption>

                    </figure>

                </a>

                <div class="info p-b-1">

                    <p>

                        <!-- Post Writer Name -->
                        <span>
                            <i class="fa fa-user gradient-color" aria-hidden="true"></i>
                            John Doe
                        </span>

                        <!-- Post Date -->
                        <span>
                            <i class="fa fa-calendar gradient-color" aria-hidden="true"></i>
                            24 Oct. 1988
                        </span>

                    </p>

                    <!-- Post Title -->
                    <a href="#">
                        <h5>Lorem ipsum dolor sit.</h5>
                    </a>

                    <!-- Post Excerpt -->
                    <p class="p-b-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi exercitationem harum laudantium maiores quibusdam...</p>

                    <!-- Post Link -->
                    <a href="#" class="shadow-button waves-effect waves-light">
                        Read more
                        <i class="fa fa-arrow-right"></i>
                    </a>

                </div>

            </div>

            <div class="single-news">

                <!-- Link to the blog news post -->
                <a href="#">

                    <figure>

                        <!-- Post Image -->
                        <img class="responsive-img" src="images/news/news3.jpg" alt="news image">

                        <figcaption>

                            <span class="overlay gradient-color"></span>

                            <span class="stats">

                                <span class="search">
                                    <i class="fa fa-search"></i>
                                </span>

                                <span class="icons">
                                    <!--Post Views Count-->
                                    <i class="fa fa-eye" aria-hidden="true"></i>123
                                    <!--Post Comments Count-->
                                    <i class="fa fa-comments" aria-hidden="true"></i>12
                                </span>

                            </span>

                        </figcaption>

                    </figure>

                </a>

                <div class="info p-b-1">

                    <p>

                        <!-- Post Writer Name -->
                        <span>
                            <i class="fa fa-user gradient-color" aria-hidden="true"></i>
                            John Doe
                        </span>

                        <!-- Post Date -->
                        <span>
                            <i class="fa fa-calendar gradient-color" aria-hidden="true"></i>
                            24 Oct. 1988
                        </span>

                    </p>

                    <!-- Post Title -->
                    <a href="#">
                        <h5>Lorem ipsum dolor sit.</h5>
                    </a>

                    <!-- Post Excerpt -->
                    <p class="p-b-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi exercitationem harum laudantium maiores quibusdam...</p>

                    <!-- Post Link -->
                    <a href="#" class="shadow-button waves-effect waves-light">
                        Read more
                        <i class="fa fa-arrow-right"></i>
                    </a>

                </div>

            </div>

            <div class="single-news">

                <!-- Link to the blog news post -->
                <a href="#">

                    <figure>

                        <!-- Post Image -->
                        <img class="responsive-img" src="images/news/news4.jpg" alt="news image">

                        <figcaption>

                            <span class="overlay gradient-color"></span>

                            <span class="stats">

                                <span class="search">
                                    <i class="fa fa-search"></i>
                                </span>

                                <span class="icons">
                                    <!--Post Views Count-->
                                    <i class="fa fa-eye" aria-hidden="true"></i>123
                                    <!--Post Comments Count-->
                                    <i class="fa fa-comments" aria-hidden="true"></i>12
                                </span>

                            </span>

                        </figcaption>

                    </figure>

                </a>

                <div class="info p-b-1">

                    <p>

                        <!-- Post Writer Name -->
                        <span>
                            <i class="fa fa-user gradient-color" aria-hidden="true"></i>
                            John Doe
                        </span>

                        <!-- Post Date -->
                        <span>
                            <i class="fa fa-calendar gradient-color" aria-hidden="true"></i>
                            24 Oct. 1988
                        </span>

                    </p>

                    <!-- Post Title -->
                    <a href="#">
                        <h5>Lorem ipsum dolor sit.</h5>
                    </a>

                    <!-- Post Excerpt -->
                    <p class="p-b-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi exercitationem harum laudantium maiores quibusdam...</p>

                    <!-- Post Link -->
                    <a href="#" class="shadow-button waves-effect waves-light">
                        Read more
                        <i class="fa fa-arrow-right"></i>
                    </a>

                </div>

            </div>

            <div class="single-news">

                <!-- Link to the blog news post -->
                <a href="#">

                    <figure>

                        <!-- Post Image -->
                        <img class="responsive-img" src="images/news/news2.jpg" alt="news image">

                        <figcaption>

                            <span class="overlay gradient-color"></span>

                            <span class="stats">

                                <span class="search">
                                    <i class="fa fa-search"></i>
                                </span>

                                <span class="icons">
                                    <!--Post Views Count-->
                                    <i class="fa fa-eye" aria-hidden="true"></i>123
                                    <!--Post Comments Count-->
                                    <i class="fa fa-comments" aria-hidden="true"></i>12
                                </span>

                            </span>

                        </figcaption>

                    </figure>

                </a>

                <div class="info p-b-1">

                    <p>

                        <!-- Post Writer Name -->
                        <span>
                            <i class="fa fa-user gradient-color" aria-hidden="true"></i>
                            John Doe
                        </span>

                        <!-- Post Date -->
                        <span>
                            <i class="fa fa-calendar gradient-color" aria-hidden="true"></i>
                            24 Oct. 1988
                        </span>

                    </p>

                    <!-- Post Title -->
                    <a href="#">
                        <h5>Lorem ipsum dolor sit.</h5>
                    </a>

                    <!-- Post Excerpt -->
                    <p class="p-b-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi exercitationem harum laudantium maiores quibusdam...</p>

                    <!-- Post Link -->
                    <a href="#" class="shadow-button waves-effect waves-light">
                        Read more
                        <i class="fa fa-arrow-right"></i>
                    </a>

                </div>

            </div>

            <div class="single-news">

                <!-- Link to the blog news post -->
                <a href="#">

                    <figure>

                        <!-- Post Image -->
                        <img class="responsive-img" src="images/news/news1.jpg" alt="news image">

                        <figcaption>

                            <span class="overlay gradient-color"></span>

                            <span class="stats">

                                <span class="search">
                                    <i class="fa fa-search"></i>
                                </span>

                                <span class="icons">
                                    <!--Post Views Count-->
                                    <i class="fa fa-eye" aria-hidden="true"></i>123
                                    <!--Post Comments Count-->
                                    <i class="fa fa-comments" aria-hidden="true"></i>12
                                </span>

                            </span>

                        </figcaption>

                    </figure>

                </a>

                <div class="info p-b-1">

                    <p>

                        <!-- Post Writer Name -->
                        <span>
                            <i class="fa fa-user gradient-color" aria-hidden="true"></i>
                            John Doe
                        </span>

                        <!-- Post Date -->
                        <span>
                            <i class="fa fa-calendar gradient-color" aria-hidden="true"></i>
                            24 Oct. 1988
                        </span>

                    </p>

                    <!-- Post Title -->
                    <a href="#">
                        <h5>Lorem ipsum dolor sit.</h5>
                    </a>

                    <!-- Post Excerpt -->
                    <p class="p-b-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi exercitationem harum laudantium maiores quibusdam...</p>

                    <!-- Post Link -->
                    <a href="#" class="shadow-button waves-effect waves-light">
                        Read more
                        <i class="fa fa-arrow-right"></i>
                    </a>

                </div>

            </div>

        </div>

    </div>

</section>
<!-- End News Section-->

<!-- Start Video Section-->
<section id="video" class="main-section center-align">

    <div class="gradient-color overlay"></div>

    <div class="container">

        <!--Title-->
        <h4 class="reflection-text reflection-text-white p-b-2">Watch Video</h4>

        <!-- Description -->
        <p class="p-t-1 desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem expedita ipsum, nulla quia saepe vel?</p>

        <!-- Link to Video -->
        <a class="icon-button" href="https://www.youtube.com/watch?v=tpWFwnj9WKc" data-lity>
            <i class="fa fa-play-circle fa-4x"></i>
        </a>

    </div>

</section>
<!-- End Video Section-->

<!-- Start Prices Section-->
<section id="prices" data-scroll-index="5" class="main-section center-align">

    <div class="container">

        <!--Title-->
        <h4 class="reflection-text p-b-2">Prices</h4>

        <!-- Description -->
        <p class="p-t-1 desc">Lorem ipsum dolor deserunt impedit, inventore iste numquam optio porro possimus sunt voluptates!</p>

        <div class="price-container p-t-3">

            <!-- First Price -->
            <div class="price" data-aos="fade-left" data-aos-delay="100">

                <div class="gradient-color overlay"></div>

                <div class="info">

                    <h5 class="p-b-1">Freelancer</h5>

                    <hr>

                    <h3 class="p-tb-1"> <sup>$</sup> 10.99 <small>/month</small></h3>

                    <hr>

                    <ul class="p-tb-1">

                        <li>Support Forum</li>
                        <li>Free Hosting</li>
                        <li>50GB Of Free Storage</li>
                        <li>Admin Area</li>

                    </ul>

                </div>

                <a href="#" class="m-t-1 shadow-button waves-effect waves-light">Buy Now
                    <i class="fa fa-arrow-right"></i>
                </a>

            </div>

            <!-- Best Price -->

            <div class="price best">

                <div class="gradient-color overlay"></div>

                <div class="sale-box two">
                    <span class="on_sale title_shop">Best</span>
                </div>

                <div class="info">

                    <h5 class="p-b-1">One Project</h5>

                    <hr>

                    <h3 class="p-tb-1"> <sup>$</sup> 20.99 <small>/month</small></h3>

                    <hr>

                    <ul class="p-tb-1">

                        <li>Support Forum</li>
                        <li>Free Hosting</li>
                        <li>100GB Of Free Storage</li>
                        <li>Admin Area</li>
                        <li>Unlimited Hosting</li>

                    </ul>

                </div>

                <a href="#" class="m-t-1 shadow-button waves-effect waves-light">Buy Now
                    <i class="fa fa-arrow-right"></i>
                </a>

            </div>

            <!-- Third Price -->
            <div class="price" data-aos="fade-right" data-aos-delay="100">

                <div class="gradient-color overlay"></div>

                <div class="info">

                    <h5 class="p-b-1">Multiple Projects</h5>

                    <hr>

                    <h3 class="p-tb-1"> <sup>$</sup> 33.99 <small>/month</small></h3>

                    <hr>

                    <ul class="p-tb-1">

                        <li>Support Forum</li>
                        <li>Free Hosting</li>
                        <li>50GB Of Free Storage</li>
                        <li>Admin Area</li>
                        <li>Unlimited Hosting</li>
                        <li>24/hr Support</li>

                    </ul>

                </div>

                <a href="#" class="m-t-1 shadow-button waves-effect waves-light">Buy Now
                    <i class="fa fa-arrow-right"></i>
                </a>

            </div>

        </div>

    </div>

</section>
<!-- End Prices Section-->

<!-- Start Statistics Section-->
<section id="statistics" class="main-section center-align" style="  background:url('images/background/header-bg-1.jpg') bottom fixed;">

    <!-- Color Overylay -->
    <div class="gradient-color overlay"></div>

    <div class="container">

        <!--Title-->
        <h4 class="reflection-text reflection-text-white p-b-2">Statistics</h4>

        <!-- Description -->
        <p class="p-t-1 desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci amet corporis, cupiditate dolores ipsa ipsam maiores molestias nesciunt, nihil odio quae, quo ratione soluta.</p>

        <div class="row p-t-2">

            <div class="col s12 m6 l3 p-tb-1">

                <i class="fa fa-heart fa-3x" aria-hidden="true"></i>

                <h5>Happy Clients</h5>

                <h3 class="counter">1232</h3>

            </div>

            <div class="col s12 m6 l3 p-tb-1">

                <i class="fa fa-cloud-download fa-3x" aria-hidden="true"></i>

                <h5>App Downloads</h5>

                <h3><span class="counter">64</span>K</h3>

            </div>

            <div class="col s12 m6 l3 p-tb-1">

                <i class="fa fa-reddit-alien fa-3x" aria-hidden="true"></i>

                <h5>Active Users</h5>

                <h3 class="counter">1811</h3>

            </div>

            <div class="col s12 m6 l3 p-tb-1">

                <i class="fa fa-star fa-3x" aria-hidden="true"></i>

                <h5>Total Rates</h5>

                <h3 class="counter">232</h3>

            </div>

        </div>

    </div>

</section>
<!-- End Statistics Section-->

<!-- Start FAQs Section-->
<section id="faq" data-scroll-index="6" class="main-section">

    <div class="container">

        <!--Title-->
        <h4 class="reflection-text p-b-2">FAQ<small>s</small></h4>

        <!-- Description -->
        <p class="p-t-1 desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit in odit tempora voluptates? Consequuntur deleniti deserunt impedit, inventore iste numquam optio porro possimus sunt voluptates!</p>

        <div class="row p-t-3 faq-main">

            <div class="col s6 push-s4 m3 push-m2 l4 push-l1 faq-image" data-aos="fade-right" data-aos-delay="200">

                <!-- FAQ Image -->
                <div>
                    <img class="responsive-img" src="images/iphone-mock/blue/1-2.png" alt="">
                    <img class="responsive-img absolute-image" src="images/iphone-mock/blue/1-4.png" alt="">
                </div>

            </div>

            <div class="col s12 m6 push-m2 l7 push-l1 collapsible-container" data-aos="fade-left" data-aos-delay="100">

                <ul class="collapsible popout" data-collapsible="accordion">

                    <li>
                        <!-- Question -->
                        <div class="collapsible-header active gradient-color waves-effect waves-light">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <span>Why this app is so awesome?</span>
                        </div>

                        <!-- Answer -->
                        <div class="collapsible-body">
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nam quidem suscipit. Delectus earum nemo nihil. Error nobis possimus rerum!</span>
                        </div>

                    </li>

                    <li>
                        <!-- Question -->
                        <div class="collapsible-header gradient-color waves-effect waves-light">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <span>Can I get a discount by inviting friends?</span>
                        </div>

                        <!-- Answer -->
                        <div class="collapsible-body">
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda ea eligendi nobis, sint vel! Consequuntur explicabo facilis nulla unde.</span>
                        </div>

                    </li>

                    <li>
                        <!-- Question -->
                        <div class="collapsible-header gradient-color waves-effect waves-light">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <span>Lorem ipsum sit amet, adipisicing.</span>
                        </div>

                        <!-- Answer -->
                        <div class="collapsible-body">
                            <span>Lorem ipsum dolor, consectetur adipisicing elit. Nemo, perspiciatis voluptate! Dolorem ea explicabo id perspiciatis similique. Eligendi, officia, quam?</span>
                        </div>

                    </li>

                    <li>
                        <!-- Question -->
                        <div class="collapsible-header gradient-color waves-effect waves-light">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <span>et labore laboriosam molestias, ligendi.</span>
                        </div>

                        <!-- Answer -->
                        <div class="collapsible-body">
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi est et labore laboriosam molestias officia saepe sed vel veniam veritatis.</span>
                        </div>

                    </li>

                    <li>
                        <!-- Question -->
                        <div class="collapsible-header gradient-color waves-effect waves-light">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <span>Lorem ipsum dolor sit amet, consectetur.</span>
                        </div>

                        <!-- Answer -->
                        <div class="collapsible-body">
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio doloremque dolores eveniet fuga, itaque laboriosam quam sequi. Deleniti, fugiat ipsam.</span>
                        </div>

                    </li>

                </ul>

            </div>

        </div>

    </div>

</section>
<!-- End FAQs Section-->

<!-- Start Map Section-->
<div id="map-section" data-scroll-index="8">

    <div id="map"></div>

</div>
<!-- End Map Section-->

<!-- Start Footer Section-->
<section id="footer" class="main-section center-align gradient-color">

    <div class="footer-main">

        <div class="main-section">

            <div class="container">

                <!--Title-->
                <h4 class="reflection-text p-b-2">Get In Touch</h4>

                <div class="contact-container">

                    <!-- Contact Form -->
                    <form id="contact-form" name="contact-form" method="POST" data-name="Contact Form">

                        <div class="row">

                            <!-- Name Field -->
                            <div class="input-field col s12">

                                <i class="fa fa-user-o prefix" aria-hidden="true"></i>
                                <input id="contact-name" type="text" class="validate" name="first_name" required>
                                <label for="contact-name">Name*</label>

                            </div>

                            <!-- Email Field -->
                            <div class="input-field col s12 m-t-1">

                                <i class="fa fa-paper-plane-o prefix" aria-hidden="true"></i>
                                <input id="contact-email" type="email" class="validate" name="email" required>
                                <label data-error="Invalid Email"  for="contact-email">Email*</label>

                            </div>

                            <!-- Message Field -->
                            <div class="input-field col s12 m-t-1">

                                <i class="fa fa-envelope-o prefix" aria-hidden="true"></i>
                                <textarea id="contact-message" class="materialize-textarea validate" minlength="20" name="message" required></textarea>
                                <label for="contact-message" data-error="Minimum Length is 20 Characters" >Message*</label>

                            </div>

                            <!-- Form Alert Message -->
                            <div class="col s12 alert-message" id="contact-alert-message"></div>

                            <!-- Submit Button -->
                            <div class="col s12">

                                <button id="contact-submit" class="gradient-color waves-effect waves-light" type="submit">Send Message</button>

                            </div>

                            <!-- ! Anti-spam field ! Invisible for users, it will trick most bots to fill it and prevent the email from being sent to you -->
                            <div class="input-field col s12 hidden">

                                <input type="text" id="contact-check-spam" placeholder="Leave field empty" name="check-spam">

                            </div>

                        </div>

                    </form>

                    <div class="address">

                        <!-- Your Address -->
                        <p class="p-b-1">

                            <i class="address-icon fa fa-map-marker"></i>
                            <span>15 Bath Rd, Heathrow, Longford, Hounslow TW6 2AB, UK</span>

                        </p>

                        <!-- Your Phone Number -->
                        <p class="p-b-1">

                            <i class="address-icon fa fa-phone"></i>
                            <a href="tel:+441711278528"> +44 171 127 8528</a>

                        </p>

                        <!-- Your Email -->
                        <p class="p-b-1">

                            <i class="address-icon fa fa-paper-plane" aria-hidden="true"></i>
                            <a href="mailto:perla.app@example.com">perla.app@example.com</a>

                        </p>

                        <!-- Your Social Network Links-->
                        <div class="social-icons p-b-1">

                            <!-- Facebook -->
                            <a href="#">
                                <i class="fa fa-facebook waves-effect waves-light  blue"></i>
                            </a>

                            <!-- Twitter -->
                            <a href="#">
                                <i class="fa fa-twitter waves-effect waves-light  light-blue lighten-2"></i>
                            </a>

                            <!-- Instagram -->
                            <a href="#">
                                <i class="fa fa-instagram waves-effect waves-light  amber darken-3"></i>
                            </a>

                            <!-- Youtube -->
                            <a href="#">
                                <i class="fa fa-youtube waves-effect waves-light  red"></i>
                            </a>

                        </div>

                    </div>

                </div>

            </div>

        </div>