<!-- Start Showcase Section-->
<section id="showcase" class="main-section">

    <!-- Overlay Color -->
    <div class="gradient-color overlay"></div>

    <div class="container">

        <!--Title-->
        <h4 class="reflection-text p-b-2">Uml</h4>

        <!-- Description -->
        <p class="p-t-1 desc">Presentation schématique du site
            <br/>
            Timeline Github
            
        </p>

         <img src="images/iphone-mock/blue/timelineMatDrk.png" alt="" >

         <p class="p-t-1 desc">SiteMap   
             <img src="images/uml/SiteMap.png" alt="">  
             <img src="images/uml/SiteMap2.png" alt="">        
            
        </p>


       

       {{!-- <div class="p-t-2 grid center-align owl-carousel owl-news">

            
                    <div class="single-news col s12 m6 l4">
                        <!-- Link to the blog news post -->
                       
                            <figure>
                                <!-- Post Image -->
                                <img class="responsive-img" src="images/iphone-mock/blue/10.jpg" alt="news image" >
                                <figcaption>
                                    <span class="overlay gradient-color"></span>
                                 </figcaption>
                            </figure>
                        
                        <div class="info p-b-1">
                            <p>                         
                            </p>
                            
                        </div>
                    </div>
       </div> --}}



<p class="p-t-2 desc">Wireframe</p>



        <div class="row p-tb-3 opposite-container">
                <h5 class="p-b-1"></h5>
            <!-- Single Show Case -->
            <div class="col s12 l6 center-align" data-aos="fade-left" data-aos-delay="200">

                <img src="images/uml/homePage.png" alt="">                

                <p>Services</p>

                               

            </div>

            <div class="col s12 l6 opposite center-align" data-aos="fade-right" data-aos-delay="100">

                
                <img src="images/uml/homePage.png" alt="">
                 <p>HomePage</p>

            </div>

        </div>

        <div class="row p-tb-3 opposite-container">
                <h5 class="p-b-1"></h5>
            <!-- Single Show Case -->
            <div class="col s12 l6 center-align" data-aos="fade-left" data-aos-delay="200">

                <img src="images/uml/homePage.png" alt="">                

                <p>Cv</p>

                               

            </div>

            <div class="col s12 l6 opposite center-align" data-aos="fade-right" data-aos-delay="100">

                
                <img src="images/uml/homePage.png" alt="">
                 <p>Blog</p>

            </div>

        </div>

        <div class="row p-tb-3 opposite-container">
                <h5 class="p-b-1"></h5>
            <!-- Single Show Case -->
            <div class="col s12 l6 center-align" data-aos="fade-left" data-aos-delay="200">

                <img src="images/uml/homePage.png" alt="">                

                <p>About</p>

                               

            </div>

            <div class="col s12 l6 opposite center-align" data-aos="fade-right" data-aos-delay="100">

                
                <img src="images/uml/homePage.png" alt="">
                 <p>Contact</p>

            </div>

        </div>

        <div class="row p-tb-3 opposite-container">
                <h5 class="p-b-1"></h5>
            <!-- Single Show Case -->
            <div class="col s12 l6 center-align" data-aos="fade-left" data-aos-delay="200">

                <img src="images/uml/homePage.png" alt="">                

                <p>Admin</p>

                               

            </div>

            <div class="col s12 l6 opposite center-align" data-aos="fade-right" data-aos-delay="100">

                
                <img src="images/uml/homePage.png" alt="">
                 <p>Login</p>

            </div>

        </div>

        <div class="row p-tb-3 opposite-container">
                <h5 class="p-b-1"></h5>
            <!-- Single Show Case -->
            <div class="col s12 l6 center-align" data-aos="fade-left" data-aos-delay="200">

                <img src="images/uml/homePage.png" alt="">                

                <p>Uml</p>

                               

            </div>


        </div>


<div>
<p class="p-t-1 desc">Cas d'utilisations


             <img src="images/uml/casUtil.png" alt="">             
    </p>
</div>





 </div>   