<!-- Start Showcase Section-->
<section id="showcase" class="main-section">

    <!-- Overlay Color -->
    <div class="gradient-color overlay"></div>

    <div class="container">

        <!--Title-->
        <h4 class="reflection-text p-b-2">Uml</h4>

        <!-- Description -->
        <p class="p-t-1 desc">Presentation schématique du site</p>

        <div class="row p-tb-3">

            <!-- Single Show Case -->
            <div class="col s12 l6" data-aos="fade-right" data-aos-delay="100">

                <!-- Small Title -->
                <h5 class="p-b-1">Diagramme de ...............</h5>

                <p>Site vitrine, corporate, évènementiel, e-commerce, intranet, application mobile.</p>

                             

            </div>

            <div class="col s12 l6 center-align" data-aos="fade-left" data-aos-delay="200">

                <!--Images-->
                <img src="images/iphone-mock/blue/10.jpg" alt="">

                {{!-- <img class="absolute-image" src="images/iphone-mock/blue/10.jpg" alt=""> --}}

            </div>

        </div>

        <div class="row p-tb-3 opposite-container">

            <!-- Single Show Case -->
            <div class="col s12 l6" data-aos="fade-left" data-aos-delay="200">

                <!-- Small Title -->
                <h5 class="p-b-1">Diagramme de ................</h5>

                <p>Logos, templates Web, plaquettes publicitaires, cartes de visite, newsletters...</p>

                               

            </div>

            <div class="col s12 l6 opposite center-align" data-aos="fade-right" data-aos-delay="100">

                <!--Images-->
                <img src="images/iphone-mock/blue/15.png" alt="">

                {{!-- <img class="absolute-image" src="images/iphone-mock/blue/15.png" alt=""> --}}

            </div>

        </div>

        <div class="row p-tb-3">

            <!-- Single Show Case -->
            <div class="col s12 l6" data-aos="fade-right" data-aos-delay="200">

                <!-- Small Title -->
                <h5 class="p-b-1">APPLICATIONS SPÉCIFIQUES ET INTERFACE D'ADMINISTRATION </h5>

                <p>Codage à la main respectueux des standards du Web</p>

      </div>

            <div class="col s12 l6 center-align" data-aos="fade-left" data-aos-delay="100">

                <!--Images-->
                <img src="images/iphone-mock/blue/19.png" alt="">

                {{!-- <img class="absolute-image" src="images/iphone-mock/blue/19.png" alt=""> --}}

            </div>

        </div>

    </div>

</section>
<!-- End Showcase Section-->